src/data_film*/
src/backup*/
src/build/
src/*.o
src/data_cellcount*.txt
scripts/data_processing/__pycache__/
scripts/notebooks/.ipynb_checkpoints
src/output/*.txt
src/errors
data/parameters/*.par
!data/parameters/baseline_parameters.par
!data/parameters/basic_chemotax.par
data/output/*.txt
data/output/*.par
src/all_data.zip
.history